@font-face {
  font-family: "medium";
  src: url(./assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "thin";
  src: url(./assets/fonts/Montserrat-Thin.ttf);
}

* {
  font-family: "medium";
}
button {
  text-transform: uppercase;
  background: none;
  color: white;
  border: white 1px solid;
  padding: 10px 25px;
  display: block;
  margin: 0 auto;
}
body {
  max-height: 100vh;
  margin: 0px;
}

li {
  list-style: none;
}

nav {
  position: fixed;
  width: 100%;
  background: white;
  top: 0px;
  z-index: 1000;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#fren {
  background: rgb(175, 171, 171);
  border-radius: 50px;
  padding: 5px 10px;
}

.allstar {
  background: url(./assets/img/bg.jpg) center/cover;
  margin-top: 70px;
  padding: 30px 0px;
}
.allstar img {
  display: block;
  margin: 0 auto;
}

h4 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0px;
  font-size: 22px;
}
.allstar button {
  letter-spacing: 3px;
}
#pro {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  padding: 10px 10px;
}
.logo-container {
  background: black;
}
.logos {
  margin: 0 auto;
  display: flex;
  background: black;
  padding: 100px 0px;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
}
.logos h3 {
  color: white;
  text-align: center;
  margin: 50px 0px;
  margin-bottom: 30px;
}
.logos p {
  color: white;
  text-align: center;
}
.logos img {
  display: block;
  margin: 0 auto;
}
.logos button {
  margin: 0 auto;
}
/* News */
.allnews {
  background: rgb(238, 236, 236);
  padding: 50px 10%;
}
.campus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#news {
  margin-bottom: 15px;
}
#btnnews {
  display: block;
  text-align: right;
  color: black;
  border: black 3px solid;
  margin: 0 0 0 auto;
}
.news {
  display: flex;
  justify-content: space-between;
}
.news > div {
  position: relative;
  padding-bottom: 50px;
  width: 25%;
}
.news img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.news button {
  color: black;
  border: none;
}
.news h3 {
  color: black;
  text-align: left;
  margin: 15px auto;
}
.news p {
  color: black;
  text-align: left;
  margin: 0 auto;
  line-height: 25px;
}
.news button {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  padding: 0;
}
.news img {
  filter: drop-shadow(5px 5px rgba(0, 0, 0, 0.082));
}
/* Pre-footer */
.pre-footer {
  display: flex;
}
.pre-footer p {
  max-width: 200px;
}
.pre-footer img {
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 20%;
}
#infos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
  margin-top: 5%;
}
#parents {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 30%;
  margin-top: 5%;
}
#contact {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 5%;
}
#i {
  display: inline-block;
  justify-content: space-around;
}
.un {
  display: flex;
  margin-top: 10%;
  margin-left: 125px;
  margin-right: 120px;
  justify-content: space-between;
}
.nous {
  max-width: 30%;
}
.presse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
}

footer {
  background: black;
  padding: 10px;
}
footer h3 {
  color: white;
  text-align: center;
}
footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}

/* Responsive */

@media (max-width: 1000px) {
  nav {
    display: none;
  }
  .logos {
    flex-direction: column;
  }
  .campus {
    flex-direction: column;
  }
  .campus h2 {
    text-align: center;
  }
  .campus p {
  }
  #btnnews {
    margin: auto 0 0 0;
  }
  .news {
    flex-direction: column;
  }
  .news img {
    display: block;
    margin: 0 auto;
  }
  .pre-footer {
    display: none;
  }
}
